.navbar{
    height: 16vh;
    display: flex;
    padding: 1rem 0;
}
.cart{
    background-color: #fff;
    margin-right: 0 !important;
    margin-top: 1rem !important;
}

.cart .cart__products .temp{
  
    border-radius: 20px;
    background-color: rgb(149, 241, 150);
    border: 1px solid #f7f7f7;
    padding: 1rem;
    
}
.cart .cart__payment{
    
    margin-left: 1rem;
    background-color: #d5fbdc;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid #f7f7f7;

}
.cart__products-head{
    padding: 1rem 0;
}
.cart__products-item{
    padding-top: 1rem;
}
.cart__products-item .item-products{
    display: flex;
}
.cart__products-item .item-image{
    width: 40%;
}
.cart__products-item .item-info{
    width: 60%;
}

.cart__products-item .decrease, .increase{
    padding: 0.2rem 0.5rem;
    border: 1px solid #f7f7f7;
}
.cart__products-item .qtyItem{
    padding: 0.2rem 1rem;
}

/* .cart__products-item .item-image{
   
} */

.cart__products-foot{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.cart__payment{
    height: 100%;
}
/* .cart__payment .cart__payment-coupon{
   
} */
.cart__payment .coupon{
    display: flex;
}
.cart__payment input{
    width: 80%;
}
.cart__payment .cart__payment-total{
    border-bottom: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
    margin-top: 1rem;
}
.cart__payment .cart__payment-total .row{
    display: flex;
    justify-content: space-between;
}

.cart__payment .cart__payment-check-out{
    text-align: center;
    padding: 0.7rem 0;

}