.banner{
    display: flex;
}
.banner__content{
    width: 60%;
}
.banner__content-title{
    font-size: 60px;
    line-height: 77px;
}
.banner__content-sub-title{
    width: 300px;
    height: 40px;
    left: 62px;
    top: 381px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}
.banner__content-number{
    display: flex;
  
}
.banner__content-number span{
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
}
.banner__content-number .number-nft{
    margin-right: 68px;
}
.banner__image{
    width: 40%;
}