
.navbar{
   background-color: #fff;
   border-bottom: 1.5px solid #d6d6d6;
   border-radius: 20px;
   margin: 0 0.2rem;
}

.menu{
    justify-content: right;
    display: flex;

}

.menu  a{
    font-size: 20px;
    line-height: 40px;
    margin-right: 3rem;
}
.icon{
    display: flex;
    font-size: 24px;
}
.icon__heart{
    display: flex;
    font-weight: 500 !important;
    justify-content: right;

}
.icon__heart .icon__heart-icon{
    background-color: #ffc5c3;
    color: #eb4d4b;
}
.icon__heart .icon__heart-num{
    position: relative;
    left: -15%;
    text-align: center;
    height: 18px;
    width: 18px;
    font-size: 14px;
    color: #fff;
    background-color: #eb4d4b;
}
.icon__cart{
    display: flex;
    font-weight: 500 !important;
    justify-content: right;
}
.icon__cart .icon__cart-icon{
    background-color: #d5fbdc;
    color: #40AA54;
}
.icon__cart .icon__cart-num{
    position: relative;
    text-align: center;
    left: -15%;
    height: 18px;
    width: 18px;
    font-size: 14px;
    color: #fff;
    background-color: #40AA54;
}
.user{
    display: flex;
    padding: 0 0.5rem;
    justify-content: right;
}
.user__icon{
    background-color: #d5fbdc;
    margin-left: 1rem;
}
.user__icon .circleItemCenter{
    transform: translate(-50%,-37%) !important;
}

.user__more{
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.dropdown-menu[data-bs-popper] {
    left: auto !important; 
    right: 0 !important; 
}
.dropdown-menu a:focus{
    background-color: #40aa54;
}