.previewItem{
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    padding-bottom: 1rem;
    /* border: 1.5px solid #f4f4f4; */
}

.image{
    position:relative;
    top:100%;
    left:50%;
    transform:translate(-50%,0%);
    /* height: 220px; */
    width: 100%;
    background-color: #fff;
    
}
.user__icon img{
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.content{
    display: flex;
    margin: 0 1rem;
    justify-content: space-around;
}
.content .right{
    padding-top: 2rem;
    position:relative;
    top:100%;
    right: 0%;
}
.content .price__item{
    display: flex;
}
.content .price-icon{
    background-color: "#fff";
    border-radius: "50%";
    color: "#40AA54";
    width: 18px;
    height: 18px;
}