.footer{
    background-color:#d5fbdc ;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 1rem 0.5rem;
    border-radius: 20px;
}

.footer__col1{
    margin:0 1.5rem;
}

.footer .footer_icon-social{
    display: flex;
}
.footer .footer_icon-social .twitter ,.instagram ,.facebook{
    color: rgb(64, 170, 84);
    background-color: #fff;
    margin:1rem 0.5rem 0 0.5rem;
}
.footer_content {
    padding-top: 1rem;
}
.footer_content p{
    line-height: 25px;
}

.footer  .footer_content .location, .phone, .mail{
    display: flex;
}
.copyright{
    text-align: center;
}