.footer{
    background-color:#d5fbdc ;
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 20px;
}
.footer .row{
    display: flex;
}
.footer .col{
    height: 100%;
   display: block;
   margin: 0 1rem;
   justify-content: space-around;
}
.footer .col1{
    width: 40%;
}
.footer .col .title{
    margin: 0 1rem;
}
.footer .footer_icon-social{
    display: flex;
}
.footer .footer_icon-social .twitter ,.instagram ,.facebook{
    color: rgb(64, 170, 84);
    background-color: #fff;
    margin:1rem 0.5rem 0 0.5rem;
}
.footer .col .footer_content{
    display: inline-grid;
    margin: 0 1rem;
}


.footer .col2{
    width: 15%;
}

.footer .col3{
    width: 15%;
}

.footer .col4{
    width: 30%;
}

.footer .col4 .footer_content .location, .phone, .mail{
    display: flex;
}
.copyright{
    text-align: center;
}