.checkout{
    margin: 0 !important;
    margin-top: 2rem !important;

}
.contact-form{

    border-radius: 20px;
    background-color: rgb(149, 241, 150);
    border: 1px solid #f7f7f7;
    padding: 1rem;
    margin-right: 1rem;
}

.contact-form .shipping, .payment-method{
    padding: 1rem 0;
    border-top: 1px solid #40aa54;
}
.bill{

    border-radius: 20px;
    background-color: #d5fbdc;
    border: 1px solid #f7f7f7;
    padding: 1rem;
   
}

.bill__head{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.bill .bill__head-edit h5{
    color: #40aa54 !important;
    font-weight: 680;
}
.bill .bill__products-confirm__item{
    padding: 0.7rem 0;
}
.bill .bill__voucher , .bill__shipping-fee , .bill__total{
    padding: 1rem 0;
    border-top: 1px solid #40aa54;
}
.bill .bill__voucher__head{
    padding-bottom: 0.7rem;
}
.bill .bill__voucher__input input{
    height: 49px;
}
.bill .bill__shipping-fee__title{
    padding-bottom: 0.5rem;
}
.bill .bill__checkout{
    text-align: center;
    padding-bottom: 1rem;
}
.custome-step .ant-steps-item-title:after{ 
    background: #40aa54  !important; 
}
.custome-step .ant-steps-item-icon {
    border-color: #40aa54  !important; 
}
.custome-step .ant-steps-item-icon .ant-steps-icon{
    color: #40aa54  !important; 
}
.ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon {
    color: #fff !important;
}
.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
    background: #40aa54 !important;
}

.continue-shopping{
    padding: 1rem 0;
}