.checkout{
    margin: 0 !important;
    margin-top: 2rem !important;

}
.contact-form{

    border-radius: 20px;
    background-color: rgb(149, 241, 150);
    border: 1px solid #f7f7f7;
    padding: 1rem;
    margin-right: 1rem;
}
.bill{

    border-radius: 20px;
    background-color: #d5fbdc;
    border: 1px solid #f7f7f7;
    padding: 1rem;
   
}
.bill__head{
    display: flex;
    justify-content: space-between;
}
.custome-step .ant-steps-item-title:after{ 
    background: #40aa54  !important; 
}
.custome-step .ant-steps-item-icon {
    border-color: #40aa54  !important; 
}
.custome-step .ant-steps-item-icon .ant-steps-icon{
    color: #40aa54  !important; 
}
.ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon {
    color: #fff !important;
}
.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
    background: #40aa54 !important;
}