@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body, html {
  font-family: 'Poppins', sans-serif;   
   -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body{
 
  color: #16162E
}

a{
  text-decoration: none;
  color: #16162E;
}
.p1{
  font-size: 18px;
  color: #16162E;
}
.p2{
  font-size: 14px;
  color: #16162E;
}

.circleClasses{
  height: 36px;
  width: 36px;
  border-radius: 50%;

}
.circleItemCenter{
  position:relative;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%)
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  
}
@media (min-width: 1400px) {
  .container {
    width: 1240px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1360px;
  }
}

