.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

body{
  font-family: 'Space Grotesk';
  font-style: normal;
  color: #16162E
}
a{
  text-decoration: none;
  color: #16162E;
}
.p1{
  font-size: 18px;
  color: #16162E;
}
.p2{
  font-size: 14px;
  color: #16162E;
}

.circleClasses{
  height: 36px;
  width: 36px;
  border-radius: 50%;

}
.circleItemCenter{
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}